* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

body {
    margin: 0;
    background-color: #000000;
}

.eltitulo {
    color: #C8A2C8;
    font-family: "Work Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-left: 5px
}

.title {
    color: #ffff;
    font-family: "Work Sans", sans-serif;
    font-size: 36px;
    font-weight: 600
}

.separator {
    width: 2px; 
    height: 50px; 
    background-color: #727272; 
    margin: 0 10px; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 30px;
}

.parrafos{
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.p_buscar{
    padding: 5px 0px 20px 10px;
}

.subtitulos{
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 600 
}

.iconos {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
}

.navbar {
    background-color: #0f002c;
    border: solid 1px #959595a8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.search-bar input {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 5  00;
    color: #fff;
    background-color: #3F3F3F;
    padding: 0.5rem;
    width: 40rem;
    border: solid 5px #141414;
    border-radius: 10px;
}

.search-bar input::placeholder {
    color: #fff;
}


.login{
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #311D31;
    color: #fff;
    border: solid 4px #141414;
    padding: 0.8rem 1.3rem;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5.5rem;
}

.register{
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #311D31;
    color: #fff;
    border: solid 4px #141414;
    padding: 0.8rem 1.3rem;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.nav-btns button:hover {
    background-color: #523152;
    color: #fff;
    border: solid 4px #3d3d3d;
}

.nav-btns button:active {
    background-color: #633D63;
    color: #fff;
    border: solid 4px #545454;
}


.card {
    width: 14rem;
    height: 18.5rem;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid gray;
   }
   
   .card:hover {
     border: 1px solid white;
     transform: scale(1.05);
   }
   
   .card:active {
     transform: scale(0.95) rotateZ(1.7deg);
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 5px;
   }
   
   .button-container {
     display: flex;
     justify-content: center;
     margin-top: 1rem;
   }
   
   .image {
     object-fit: cover;
     width: 13.9rem;
     height: 8rem;
     background-color: gray;
   }
   
   .desc {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
     margin-top: 1rem;
     color: #fff;
     font-size: 24px;
     line-height: 1.5rem;
     text-align: center;
   }
   
   .action {
     display: inline-flex;
     color: #ffffff;
     font-size: 18px;
     align-items: center;
     background-color: #311D31;
     padding: 4px 8px;
     border-radius: 5px;
     border: none;  
   }

   
main {
    display: flex;
    flex: 1;
    overflow-y: auto;
    border: none;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15rem;
}

.presentacion img {
    padding: 40px 20px 20px 80px;
    max-width: 35rem;
    height: 35rem;
}

.presentacion .content {
    max-width: 50%;
}

.izquierdo-aside {
    background-color: #0D1117;
    padding: 1rem;
    width: 200px;
    border: solid 1px #959595a8 ;
    border-bottom: none;
    border-top: none;
    font-size: 20px;

}

.izquierdo-aside ul {
    list-style: none;
    padding: 0;
}

.izquierdo-aside ul li {
    margin-bottom: 10px;
}

.izquierdo-aside ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}


.izquierdo-aside ul li img {
    width: 50px; 
    height: 45px; 
    margin-left: 25px;
    margin-right: 15px;
}

.buscar{
    margin-left: 10px;
    width: 20px;
    height: 40px;
}

.scroll {
    max-height: 52rem; 
    overflow-y: auto; 
}

.scroll::-webkit-scrollbar{
    width: 0px;
}

    .main-content {
        flex: 1;
        padding: 1rem;
        background-color: #000000;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .propuestas {
        background-color: #000000;
        border: solid 1px #959595;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        width: 55rem;
        height: 17rem;
    }

    .propuesta-header {
        background-color: #220a4eb7;
        padding: 1rem;
        border-radius: 10px 10px 0px 0px;
        margin: -1rem -1rem 1rem -1rem; 
    }
    
    .propuestas h2 {
        margin: 5px 0px 0px 10px;
        color: #fff;
    }
    
    .propuestas .price {
        float: right;
        color: #fff;
        margin-right: 20px;
    }
    
    .propuesta_info {
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .user-info {
        display: flex;
        align-items: center;
    }
    
    .user-info img {
        border-radius: 50%;
        margin-right: 5px;
        width: 70px;
        height: 50px;
    }
    
    .postular-btn {
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
        background-color: #311D31;
        color: #fff;
        border: solid 3px #141414;
        padding: 0.8rem 1rem;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 20px;
    }
    
    .postular-btn:hover {
        background-color: #523152;
        border: solid 3px #3d3d3d;
    }
    
    .postular-btn:active {
        background-color: #633D63;
        border: solid 3px #545454;
    }

    .derecho-aside {
        background-color: #0D1117;
        padding: 1rem;
        width: 200px;
        border: solid 1px #959595a8 ;
        font-size: 20px;
        border-top: none;
        border-bottom: none;
    }
    
    
    .derecho-aside .image-container {
        position: relative;
        overflow: hidden;
    }
    
    .derecho-aside .image-container img {
        margin-bottom: 1rem;
        width: 100%;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }
    
    .derecho-aside .image-container .hover-link {
        position: relative;
        display: block;
    }
    
    .derecho-aside .image-container .hover-text {
        font-family: "Work Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 15rem 15rem;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .derecho-aside .image-container:hover img {
        transform: scale(1.1);
    }
    
    .derecho-aside .image-container:hover .hover-text {
        opacity: 1;
        pointer-events: auto;
    }
    



footer {
    background-color: #0D1117;
    border: solid 1px #959595a8;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.enumerado {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 1.5rem 0;
}

.enumerado a {
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.enumerado a.active {
    background-color: #9c809c;
    color: white;
    border-radius: 5px;
}

.enumerado a:hover:not(.active) {
    background-color: #555;
    border-radius: 5px;
}

